body {
    font: normal 14px/1.5 'NotoSansKR', 'sans-serif';
    color: #555;
}

h1 {font-size: 20px; color: #222;}
h2 {font-size: 18px; color: #333;}
h3 {font-size: 16px; color: #444;}


// 텍스트 가림 1
.blind {
    position: absolute;
    left: -999px;
    top: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin-left: -1px;
    border: 0 none !important;
    background: transparent !important;
    color: transparent !important;
}