#footer {
    .g_inner {
        margin-bottom: 0;
    }


    .copyright {
        padding-top: 60px;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 100px;
            height: 50px;
            background: url('../../src/assets/images/main/footer-logo.png') no-repeat center/100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            opacity: .9;
        }
    } 
}


.footer_sec_share {
    background-color: #161b22;
    color: #fff;
    padding: 20px 0;

    .g_inner {
        display: flex;
        justify-content: space-between;
    }
    ul {
        display: flex;
        align-items: center;

        li {
            font-size: 2.5rem;
            line-height: 0;
        }
        li + li {
            margin-left: 20px;
        }

        .txt {
            font-size: 1.3rem;
            color: #e7e7e7;;
        }
    }
    button {
        color: #fff;
    }
}

.footer_sec_notice {
    background-color: #080b0e;
    padding: 20px 0;
    color: #dedede;
    .g_inner {
        display: flex;
        justify-content:space-between;
    }
}

.footer_sec {
    background-color: #0d1117;
}

.footer_sec.all_menu {

    padding-bottom: 60px;

    .g_inner {
        display: flex;
        flex-wrap: wrap;
        
    }

    .item {
        width: 25%;
        margin-top: 60px;
        .tit {
            color: #e7e7e7;
            font-weight: 500;
            margin-bottom: 10px;
            display: block;
        }

        ul > li {
            margin-top: 8px;
            
            a {
                display: block;
                color: #9a9a9a;
                font-size: 1.3rem;
                &:hover {
                    color: #b5b5b5;
                    // transform: translateY(-1px);
                }
            }
            
        }
    }
}




.footer_sec.mid {
    background-color: #080b0e;
    padding: 20px 0;
    ul {
        display: flex;

        a {
            color: #9a9a9a;
            font-size: 1.3rem;
            &:hover {
                color: #b5b5b5;
            }
        }
    }
}

.footer_sec.mid.sitemap {
    .g_inner {
        display: flex;
        justify-content: space-between;
        
        
    }


    .sns a {
        line-height: 0;
        font-size: 2.5rem;
        color: #fff;
        margin-left: 10px;
    }
}

.footer_sec.btm {
    background-color: #080b0e;
    padding: 80px 0;
    text-align: center;
    position: relative;
}







@include tablet {
    .footer_sec.all_menu {
        .item {width: 33.3333%;}
    }

    .footer_sec.mid.sitemap {

        .g_inner {
            flex-wrap: wrap;
        }

        ul {
            li {
                display: flex;
                align-items: center;
            }
        }

        .item.sns { 
            flex: 1 1 auto;
            width: 100%;
            margin-top: 10px;

            li:first-child {
                a {
                    margin: 0;
                }
            }
            
        }
    }

}


@include mobile {
    .footer_sec.all_menu {
        padding: 15px 0;

        .item.con_none {
            & > .acco_head {
                &::after {content: none;}
                &::before {content: none;}
            }
        }

        .item {
            width: 100%;
            margin-top: 0;
            padding: 0;
            & > .acco_head {
                display: flex;
                align-items: center;
                padding: 15px 0;
                width: 100%;
                .tit {
                    margin-bottom: 0;
                }
            }
        }
    }

    #footer {
        .copyright::before {
            width: 80px;
        }
    }

   
}