#header {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;;
    z-index: 100;
    // backdrop-filter: blur(30px);
    // background-color: rgba(0, 0, 0, 0.05);


    .g_inner {margin: 0 auto;}

    h1 {
        background: url('../../src/assets/images/main/footer-logo.png') no-repeat center/100%;
        width: 70px;
        height: 20px;
        margin-top: 0px;
        margin-right: 40px;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    // &::before {
    //     content: '';
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     // background-color: #48489b;
    //     // opacity: .1;
    //     // backdrop-filter: blur(20px);
    // }
}


.header_wrap {
    display: flex;
    align-items: center;
    height: 70px;
}

.header_nav {
    display: flex;
    color: #fff;

    li {
        margin-left: 20px;
    }
}

.header_ico {
    display: flex;
    color: #fff;
    margin-left: auto;

    position: absolute;
    right: 130px;
    li {
        margin-left: 20px;
        a {
            display: inline-block;
            font-size: 1.7rem;
            margin-top: 3px;
        }
    }
}


body.allmenu #header{
    background-color: #0d1117;
    // background-color: #0d1117cc;
    backdrop-filter: blur(10px);
   
}

.g_inner.pupup_type1_header {
    margin-top: 20px;
    margin-bottom: 20px;
}
.g_inner.accordion_mo.type1.pd_none {
    margin-bottom: 0px;
    .item {
        margin-top:0;
        margin-bottom: 40px;
    }
} 



// .header_all_menu {
//     background-color: inherit;
//     width: 25px;
//     height: 18px;
//     margin-left: 35px;
//     background-color: rgb(255, 255, 255);
// }

// all menu
button.header_all_menu {
    width:25px;
    height:13px;
    border:none;
    background:transparent;
    position:relative;
    cursor:pointer;
    margin-left: 35px;

    position: absolute;
    right: 60px;
    // &:focus {
    //   outline: none;
    // }

    & {
        &:after,
        &:before,
        span {
        width:100%;
        height:2px;
        border-radius:100px;
        position:absolute;
        display:block;
        background:#fff;
        
        }

        &:after,
        &:before {
        content:"";
        transition: 0.3s width 0.4s;
        }

        &:after {
        top:0px;
        left:0px;
        margin-top:0px;
        }

        &:before {
        bottom:0px;
        right:0px;
        margin-bottom:0px;
        }

        span.line {
            top:50%;
            margin-top:-1px;
            transition: transform 0.3s, opacity 0.3s;
            opacity: 0;
                &:before {
                content:"";
                background:#fff;
                width:100%;
                height:2px;
                border-radius:100px;
                position:absolute;
                left:0px;
                transition: transform 0.3s, opacity 0.3s ;
                }
        }

        &.on {
            &:after {
                transition: all 0.2s;
                width:0%;
                left:0px;
            }

            &:before {
                transition: all 0.2s;
                width:0%;
                right:0px;
            }

            span.line {
                transform:rotate(45deg);
                transition: 0.3s transform 0.4s ;
                opacity: 1;
                    &:before {
                    transform:rotate(-90deg);
                    transition: 0.3s transform 0.4s ;
                    }
            }
        }
    }
  
}







@include tablet {
    header {

    }

    button.header_all_menu {
        position: relative;
        right: 0px;
    }

    .header_ico {
        position: static;
    }
}


@include mobile {
    .header_nav {
        display: none;
    }

    #header {
        .g_inner {
            backdrop-filter: blur(30px);
        }
    }
    
    .g_inner.accordion_mo.type1.pd_none {
        .item {
            margin-bottom: 0px;
        }
        .item:last-child {
            padding: 20px 0;
        }
    } 
    
}
