.evt_banner {

    padding: 100px 0;
    background: black url('/src/img/main/dummy.jpg') no-repeat center/cover;
    background-attachment: fixed;
    margin-bottom: 60px;
    
    .tit {
        color: #fff;
    }
    .txt {
        color: #fefefe;
        margin-bottom: 5px;
    }
    .link {
        color: #fff;
        text-decoration: underline;
    }
}

