

.sub_visual {
    height: 800px;
    background-color: #080911;
    position: relative;
    padding-top: 60px;

    &::before {
        content: "";
        display: block;
        /* background: blue; */
        width: 100%;
        height: 50px;
        backdrop-filter: blur(10px);
        position: absolute;
        top: -24px;
    }

    
    h2 {
        color: #fff;
    }
}


.sub_visual_color {
    ul {
        display: flex;

        li {
            width: 30px; 
            height: 30px;
            border: 1px solid #535353;
        }

        li:nth-child(1) {
            background-color: #fff;
        }
        li:nth-child(2) {
            background-color: #535353;
        }
        li:nth-child(3) {
            background-color: #192e35;
        }
        li:nth-child(4) {
            background-color: #2a1414;
        }
        li:nth-child(5) {
            background-color: #000000;
        }
        li:nth-child(6) {
            background-color: #723838;
        }

        // @for $i from 1 through 3 {
        //     li:nth-child(#{$i}) {
        //         background-color: azure;
        //     }
        // } 
        
        
    }
}

.sub_visual_slide.type1 {
    margin: auto;
    width: 100%;
    // height: 300px;
    // border: 1px solid red;

    ul {
        height: 100%;
        display: flex;
        justify-content: center;

        li {
            height: 100%;
        }
    }
    .img_wrap {
        max-width: 700px;
    }
}



.sub_visual_slide.type2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 800px;
    height: 300px;
    border: 1px solid blue;

}

.sub_visual_slide_txt {}
.sub_visual_slide_bg {
    font-size: 25rem;
    opacity: 0.2;
    font-weight: 900;
    position: absolute;
    top: -82px;
    left: 0;
}