.g_content {
    ul {
        display: flex;
        gap: 10px;

        li {
            flex: 0 0 auto;
            width: calc(33.33333% - 10px);
        }
    }
}


.g_content_img {
    height: 100px;
    margin-bottom: 20px;
    img {
        object-fit: cover;
    }
}

.g_content_txt {
    strong {
        font-size: 1.6rem;
        font-weight: 500;
    }
    p {
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 1.3rem;
    }

}




@include mobile {
    .g_content {
        ul {
            flex-wrap: wrap;
            li {
                width: 100%;
            }
        }
    }
}
