* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, fieldset, ul, ol, dl, dt, dd, p, button, figure, xmp {
  margin: 0;
  padding: 0;
}

legend, caption {
  overflow: hidden;
  width: 1px;
  height: 1px;
  color: transparent;
}

a[href^=tel] {
  cursor: default;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  font: normal 1.4rem/1.5 "NotoSansKR", "sans-serif";
  color: #555;
}

#skip_conts {
  position: relative;
}
#skip_conts a {
  display: block;
  position: absolute;
  top: -300px;
  left: 0;
  z-index: 200;
  width: 300px;
  background: #000;
  color: #fff;
  text-align: center;
}
#skip_conts a:focus {
  top: 0px;
}

h1 {
  font-size: 20px;
  color: #222;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  color: #444;
}

.g_inner {
  width: 980px;
  margin: 0 auto 60px;
}

.g_inner.full {
  width: 100%;
}

.blind {
  position: absolute;
  left: -999px;
  top: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin-left: -1px;
  border: 0 none !important;
  background: transparent !important;
  color: transparent !important;
}

.g_list.type1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.g_list.type1 > li {
  flex: 0 0 auto;
  width: calc(33.33333333% - 10px);
  height: 300px;
}
.g_list.type1 > li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgb(233, 240, 255);
}

.g_slide li {
  display: none;
}
.g_slide li.active {
  display: block;
}

.g_slide.s_type3 li {
  padding: 50px 30px 0;
  height: 500px;
  background: url("/src/img/main/dummy.jpg") no-repeat center/cover;
}
.g_slide.s_type3 .tit {
  color: #fff;
  font-size: 2rem;
  margin-top: 50px;
}
.g_slide.s_type3 .txt {
  color: #fefefe;
  width: 300px;
  font-size: 1.4rem;
  font-weight: 200;
  margin-top: 10px;
}

.s_type3_nav {
  display: flex;
  justify-content: space-between;
}
.s_type3_nav li {
  margin-top: -50px;
  left: 0;
  width: 20%;
  font-size: 1.2rem;
  backdrop-filter: blur(10px);
}
.s_type3_nav li button {
  color: #fff;
}

.line_black_small {
  position: relative;
}
.line_black_small::before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #141414;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.line_black_long {
  position: relative;
}
.line_black_long::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #141414;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.line_black_long.bottom::before {
  bottom: 0;
}

@font-face {
  font-family: "NotoSansKR";
  src: local("NotoSansKR"), url("/src/fonts/NotoSansKR-Thin.woff2") format("woff2"), url("/src/fonts/NotoSansKR-Thin.eot") format("embeded-opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSansKR";
  src: local("NotoSansKR"), url("/src/fonts/NotoSansKR-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSansKR";
  src: local("NotoSansKR"), url("/src/fonts/NotoSansKR-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSansKR";
  src: local("NotoSansKR"), url("/src/fonts/NotoSansKR-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSansKR";
  src: local("NotoSansKR"), url("/src/fonts/NotoSansKR-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSansKR";
  src: local("NotoSansKR"), url("/src/fonts/NotoSansKR-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
#header {
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  color: rgb(179, 179, 179);
  z-index: 100;
}
#header .g_inner {
  margin: 0 auto;
}
#header h1 {
  background: url("/src/img/common/footer-logo.png") no-repeat center/100%;
  width: 70px;
  height: 20px;
  margin-top: 2px;
  margin-right: 40px;
}
#header h1 a {
  display: block;
  width: 100%;
  height: 100%;
}

.header_wrap {
  display: flex;
}

.header_nav {
  display: flex;
  color: #fff;
}
.header_nav li {
  margin-left: 20px;
}

.header_all_menu {
  background-color: none;
  width: 25px;
  height: 18px;
  margin-left: auto;
  background-color: rgb(255, 255, 255);
}

#footer .g_inner {
  margin-bottom: 0;
}
#footer .copyright {
  padding-top: 60px;
  position: relative;
}
#footer .copyright::before {
  content: "";
  display: block;
  width: 100px;
  height: 50px;
  background: url("/src/img/common/footer-logo.png") no-repeat center/100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.9;
}

.footer_sec_notice {
  padding: 20px 0;
  color: #dedede;
}

.footer_sec_share {
  background-color: #161b22;
  color: #fff;
  padding: 20px 0;
}
.footer_sec_share .g_inner {
  display: flex;
  justify-content: space-between;
}
.footer_sec_share ul {
  display: flex;
}
.footer_sec_share ul li {
  font-size: 2.5rem;
  line-height: 0;
}
.footer_sec_share ul li + li {
  margin-left: 20px;
}
.footer_sec_share ul .txt {
  font-size: 1.4rem;
}
.footer_sec_share button {
  color: #fff;
}

.footer_sec_notice {
  background-color: #000;
}
.footer_sec_notice .g_inner {
  display: flex;
  justify-content: space-between;
}

.footer_sec {
  background-color: #0d1117;
}

.footer_sec.all_menu {
  padding-bottom: 60px;
}
.footer_sec.all_menu .g_inner {
  display: flex;
  flex-wrap: wrap;
}
.footer_sec.all_menu .item {
  width: 25%;
  margin-top: 60px;
}
.footer_sec.all_menu .item .tit {
  color: #e7e7e7;
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
}
.footer_sec.all_menu .item ul > li {
  margin-top: 8px;
}
.footer_sec.all_menu .item ul > li a {
  display: block;
  color: #9a9a9a;
  font-size: 1.3rem;
}
.footer_sec.all_menu .item ul > li a:hover {
  color: #b5b5b5;
}

.footer_sec.mid {
  background-color: #000;
  padding: 20px 0;
}
.footer_sec.mid ul {
  display: flex;
}
.footer_sec.mid ul a {
  color: #9a9a9a;
}
.footer_sec.mid ul a:hover {
  color: #b5b5b5;
}

.footer_sec.mid.sitemap .g_inner {
  display: flex;
  justify-content: space-between;
}
.footer_sec.mid.sitemap .sns a {
  line-height: 0;
  font-size: 2.5rem;
  color: #fff;
  margin-left: 10px;
}

.footer_sec.btm {
  background-color: #000;
  padding: 80px 0;
  text-align: center;
  position: relative;
}

.main_visual {
  height: 500px;
  background-color: #02020d;
  padding: 50px;
  position: relative;
}

.main_visual_title {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0;
  margin: auto;
  z-index: 5;
  width: 400px;
  height: 100px;
  color: #fff;
}
.main_visual_title h2 {
  font-size: 2rem;
  color: #fff;
}

.main_visual_slide_video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}

.main_visual_slide.type2 {
  position: absolute;
  bottom: -80px;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 200px;
  z-index: 10;
}
.main_visual_slide.type2 ul {
  display: flex;
  height: 100%;
  gap: 5px;
  justify-content: center;
}
.main_visual_slide.type2 ul li {
  flex: 0 0 auto;
  width: 150px;
  height: 100%;
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 30px;
}

video {
  width: 100%;
  height: 100%;
}

.sub_visual {
  height: 800px;
  background-color: #080911;
  position: relative;
  padding-top: 120px;
}
.sub_visual::before {
  content: "";
  display: block;
  /* background: blue; */
  width: 100%;
  height: 50px;
  backdrop-filter: blur(10px);
  position: absolute;
  top: -24px;
}
.sub_visual h2 {
  color: #fff;
}

.sub_visual_slide.type1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  border: 1px solid red;
}
.sub_visual_slide.type1 ul {
  height: 100%;
}
.sub_visual_slide.type1 ul li {
  height: 100%;
}
.sub_visual_slide.type1 .img_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sub_visual_slide.type2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 800px;
  height: 300px;
  border: 1px solid blue;
}

.sub_visual_slide_bg {
  font-size: 25rem;
  opacity: 0.2;
  font-weight: 900;
  position: absolute;
  top: -82px;
  left: 0;
}

.evt_banner {
  padding: 100px 0;
  background: black url("/src/img/main/dummy.jpg") no-repeat center/cover;
  background-attachment: fixed;
  margin-bottom: 60px;
}
.evt_banner .tit {
  color: #fff;
}
.evt_banner .txt {
  color: #fefefe;
  margin-bottom: 5px;
}
.evt_banner .link {
  color: #fff;
  text-decoration: underline;
}

.load_wrap {
  display: flex;
  height: 500px;
}
.load_wrap .left {
  background-color: rgb(94, 140, 181);
  flex: 0 0 auto;
  width: 50%;
  color: #fff;
  padding: 20px;
}
.load_wrap .left strong {
  font-size: 2rem;
}
.load_wrap .right {
  background-color: rgb(61, 95, 124);
  flex: 0 0 auto;
  width: 50%;
  color: #fff;
  padding: 20px;
}
.load_wrap .right strong {
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
