.container {
    .con_header {
        position: absolute;
        top: 70px;
    }


    
    .con_section {
        padding-top: 50vh;
    }


    #sec_0 {
        background-color: #000;
        h2 {
            font-size: 10rem;
            
        }
    }



    
}

