#show_sec_0 #sec_0 .con_sticky,
#show_sec_1 #sec_1 .con_sticky,
#show_sec_2 #sec_2 .con_sticky,
#show_sec_3 #sec_3 .con_sticky,
#show_sec_4 #sec_3 .con_sticky {
    display: block;
}

.container {
    .con_header {
        position: absolute;
        // top: 70px;
    }


    .con_sticky {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        .txt {
            // width: 300px;
        }
    }

    .con_sticky.message {
        justify-content: center;
        align-items: center;
        height: 3em;
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
        opacity: 0;
        margin: auto;
    }

    .con_sticky.canvas {
        height: 100%;
        top: 0;
    

        & > canvas {
            position: absolute;
            top: 50%;
            left: 50%;
            // border: 1px solid red;
        }
    }
    
    .con_section {
        // border: 1px solid red;
    }


    #sec_0 {
        background-color: #000;
        h2 {
            font-size: 7vw;
            z-index: 15;
            text-align: center;
            top: 0;
            bottom: 0;
            opacity: 1;
            display: block;
            height: 1.5em;
            margin: auto;
            color: #fff;
        }
    }



    
    #sec_1 {
        background-color: #000;
        h2 {
            font-size: 7vw;
            z-index: 15;
            text-align: center;
            top: 0;
            bottom: 0;
            opacity: 1;
            display: block;
            height: 1.5em;
            margin: auto;
            color: #fff;
        }
    }

    #sec_2 {
        background-color: #000;
        h2 {
            font-size: 7vw;
            z-index: 15;
            text-align: center;
            top: 0;
            bottom: 0;
            opacity: 1;
            display: block;
            height: 1.5em;
            margin: auto;
            color: #fff;
        }
    }
   



    
}

