#show_sec_0 #sec_0 .con_sticky,
#show_sec_1 #sec_1 .con_sticky,
#show_sec_2 #sec_2 .con_sticky,
#show_sec_3 #sec_3 .con_sticky,
#show_sec_4 #sec_3 .con_sticky {
    display: block;
}

.container {
    .con_header {
        position: absolute;
        // top: 70px;
    }

    .con_sticky.message {
        display: none;
        justify-content: center;
        align-items: center;
        height: 3em;
        font-size: 2.5rem;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        text-align: center;
        opacity: 0;
        .txt {
            // width: 300px;
        }
    }
    
    .con_section {
        padding-top: 50vh;
        border: 1px solid red;
    }


    #sec_0 {
        background-color: #000;
        h2 {
            font-size: 10rem;
            
        }
    }



    
}

