@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');



.youtube {
	.inner {
		.wrap {
			article {
				

				&::after {
					
				}

				h2 {
					
				}
				.txt {
					

					p {
						
					}
					span {
						
					}
				}
				.pic {
					

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.youtube {
		.inner {
			.wrap {
				article {
					h2 {
						
					}
					.txt {
						
					}
					.pic {
						
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.youtube {
		.inner {
			.wrap {
				article {
					h2 {
						
					}
					.txt {
						
					}
					.pic {
						
					}
				}
			}
		}
	}
}










// --------------------

.yout_pop {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	left: 0px;
	padding: 100px;
	z-index: 5;
	opacity: 0;
	transition: opacity 1s;

	&.on {
		opacity: 1;
	}

	.con {
		width: 100%;
		height: 100%;

		iframe,
		video,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border: none;
		}
	}

	.close {
		font: bold 14px/1 'arial';
		color: #fff;
		position: absolute;
		top: 30px;
		right: 50px;
		cursor: pointer;
	}
}