$pc: 1200px;
$tablet: 1100px;
$mobile: 760px;

@mixin pc {
    @media screen and (max-width: $pc) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}


@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}



//common
@import "common/reset";
@import "common/common";
@import "common/fonts";
@import "common/header";
@import "common/footer";
@import "common/loading";
@import "common/popup";
@import "common/tab";
@import "common/button";

//main
@import "main/main_visual";
@import "main/main_sub_visual";
@import "main/main_evt_banner";
@import "main/main_load_banner";
@import "main/main_content";

// sub
@import "sub/sub_visual";
@import "sub/pages/sub";
@import "sub/pages/youtube";
@import "sub/pages/gallery";
@import "sub/pages/members";
@import "sub/pages/location";