$pc: 1200px;
$tablet: 1100px;
$mobile: 760px;

@mixin pc {
    @media screen and (max-width: $pc) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}


@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}



//common
@import "common/_reset";
@import "common/common";
@import "common/fonts";
@import "common/_header";
@import "common/_footer";

//main
@import "main/main_visual";
@import "main/main_sub_visual";
@import "main/main_evt_banner";
@import "main/main_load_banner";
@import "main/main_content";